@import "src/palette";

.ProductRow {
    .product-title, .product-group {
        font-size: smaller;
    }

    .hidden {
        font-weight: lighter;
        font-style: italic;

        &::before {
            content: "-- ";
        }
    }
    &.loading-product {
        background: $warning-yellow !important;
    }

    .in-stock-true {
        color: $har-medium-green;
        font-weight: bolder;
    }

    .in-stock-false {
        color: $har-pain-red;
        font-weight: bolder;
    }
}
