@import "src/palette";

.ProductList {
    .tools {
        margin-bottom: 5px;

        div {
            display: inline-block;
            margin: 0;
            padding: 0;

            &:not(:last-child) {
                margin-right: 50px;
            }
        }

        div.filter {
            div.filter-box {
                display: inline-block;
                margin: 0 10px;
                padding: 0;

                input.filter-input {
                    all: unset;
                    border: 1px solid $har-charcoal;
                    border-right: none;
                    border-radius: 5px 0 0 5px;
                    padding: 1px 3px;
                    width: 250px;
                }

                div.filter-clear {
                    display: inline-block;
                    background: $har-medium-green;
                    color: $har-white;
                    border: 1px solid $har-charcoal;
                    border-radius: 0 5px 5px 0;
                    padding: 1px 10px;
                    cursor: pointer;

                    &:hover {
                        background: $har-dark-green;
                    }
                }
            }

            span.filter-showing {
                padding-bottom: 10px;
            }
        }

        div.sort-by {
            .selected {
                font-weight: bold;
            }
        }
    }

    table {
        width: 100%;
    }
}
