@import "src/palette";

.ProductRow {
    .hidden {
        font-weight: lighter;
        font-style: italic;
    }

    &.loading-product {
        background: $warning-yellow !important;
    }

    .in-stock-true {
        color: $har-medium-green;
        font-weight: bolder;
    }

    .in-stock-false {
        color: $har-pain-red;
        font-weight: bolder;
    }

    .stock-summary {
        * {
            all: unset;
            font-size: x-small;
            display: block;
        }
        padding-left: 0 !important;
    }
}
